# coFE specific
**/build/

# Frontastic-CLI related
frontastic.toml
.frontastic
/frontastic
/frontastic-cli-server-key
frontastic.exe
frontastic-cli-dependencies

# JS build related
**/node_modules/
yarn-debug.log*
yarn-error.log*
.next

# Common IDEs and editors
**/.idea
.vscode
.history
*.swp
.envrc

# Common file browsers
.DS_Store
Thumbs.db*

# Do not ignore any .gitkeep files which are there to keep directories
!**/.gitkeep
